*~

# SBT
target/
.bsp/
.history

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
